spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dongmin
    username: dongmin
    password: sdm082404@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    open-in-view: false

  security:
    jwt:
      secret: 64461f01e1af406da538b9c48d801ce59142452199ff112fb5404c8e7e98e3ff